<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="header">
                    <b> Hello, Milan!</b>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="main">
    <section class="container mt-4 border">
        <div class="row pt-4 pb-4">
            <div class="col-md-3">
                <div class="card">
                    Your Sucessful rating
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    Rating
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    Attendence
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-box">
                    Go to practice works
                </div>
            </div>
        </div>
    </section>

    <section class="container mt-4 border">
        <div class="row mt-4">
            <div class="col-md-8">
                <div class="calender">
                    calender
                </div>
            </div>
            <div class="col-md-4 border">
                <div class="card-teacher text-center">
                    My teachers
                    <div class="col-md-3">
                        <div class="title">
                            <div>
                                <img src="assets/photo.png" alt="profile" class="rounded-circle border" width="80" height="80">
                            </div>
                            <div>
                                <h6>Anup Kumar</h6>
                                <span>HTML, CSS</span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <img src="assets/photo.png" alt="profile" class="rounded-circle border" width="80" height="80">
                    </div>
                    <div class="col-md-3">
                        <img src="assets/photo.png" alt="profile" class="rounded-circle border" width="80" height="80">
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>